pipeline/pipe_ControlFlow2_PL.json
{
	"name": "pipe_ControlFlow2_PL",
	"properties": {
		"activities": [
			{
				"name": "Lookup_AC",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DSet_TableList_DS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set_Variable_AC",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_AC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableNames",
					"value": {
						"value": "@activity('Lookup_AC').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"TableNames": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}